<home-event *ngIf="user"></home-event>
<div *ngIf="user" class="dashboard">

  <!-- 
    Total balance amount
  -->
  <div class="budget">    
    <mat-card class="mt-4 balance-card">
      <span class="font-weight-bold">Total balance amount</span>
      <hr/>
      <h2 class="mt-2 text-center">{{totalBalanceAmount | balanceFormat }}</h2>
    </mat-card>

  <!-- 
    Budget information
  -->
    <mat-card class="mt-4 budget-card">
      <span class="font-weight-bold budget-elements">
        <label>Budget</label>
        <button type="button" class="btn btn-sm btn-info">Edit</button>
      </span>
      <hr/>
      <div class="budget-elements">
        <span class="font-weight-bold">Current date</span><span class="font-italic">2021-03-26</span>
        <span class="font-weight-bold">End of period</span><span class="font-italic">2021-04-14</span>        
      </div>
      <hr/>
      <div class="budget-elements">
        <span class="font-weight-bold">Free balance</span><span class="font-italic font-weight-bold text-primary">$12,000.00</span>
      </div>
      <hr/>
      <div class="budget-elements">        
        <span class="font-weight-bold">Monthly budget</span><span class="font-italic">$12,000.00</span>
        <span class="font-weight-bold">Biweekly budget</span><span class="font-italic">$6,000.00</span>
        <span class="font-weight-bold">Weekly budget</span><span class="font-italic">$3,000.00</span>
      </div>
      <hr/>      
      
      <div class="budget-elements">
        <span class="font-weight-bold text-alert">Expenses percentage</span>
        <span class="font-italic font-weight-bold text-danger">75%</span>
      </div>
      
    </mat-card>
  </div>

  <!-- 
    Accounts descriptions
  -->  
  <div class="accounts pb-3">
    <mat-card class="mt-4">
      <div class="dashboard">
        <span class="font-weight-bold">
          Accounts          
        </span>
        <span class="new-account">
          <button type="button" class="btn btn-sm btn-info" (click)="newAccount(content)">
            Add new account            
          </button>
        </span>
      </div>      
      <hr/>         
      
      <!-- 
        Accounts charts
      -->
      <div class="budget-elements mt-0 mb-3 chart">
        <mat-card class="mr-1">          
          <canvas baseChart
            [data]="balances"
            [labels]="chartLabels"
            [chartType]="barAreaChartType"
            [legend]="barAreaLegend"
            [colors]="chartColors"
            [options]="">
          </canvas>
        </mat-card>
        <mat-card class="ml-1">        
          <canvas baseChart
            [data]="balances"
            [labels]="chartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"            
            [colors]="chartColors"
            [legend]="pieChartLegend">
          </canvas>
        </mat-card>        
      </div>

      <!-- 
        Accounts table list
      -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef >Edit / Delete</th>
          <td mat-cell *matCellDef="let element" class="mat-header-cell edit-delete"> 
            <button mat-icon-button color="primary" (click)="editAccount(element, content)">
              <mat-icon class="text-info">edit</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="deleteAccount(element, confirm)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Account">
          <th mat-header-cell *matHeaderCellDef >Account</th>
          <td mat-cell *matCellDef="let element" class="mat-header-cell"> {{element.accountNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef >Description</th>
          <td mat-cell *matCellDef="let element" class="mat-header-cell"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef >Type</th>
          <td mat-cell *matCellDef="let element" class="mat-header-cell"> {{element.type | accountType}} </td>
        </ng-container>

        <ng-container matColumnDef="Balance">
          <th mat-header-cell *matHeaderCellDef >Balance</th>
          <td mat-cell *matCellDef="let element" class="mat-header-cell"> {{element.balance | balanceFormat}} </td>
        </ng-container>

        <ng-container matColumnDef="Movements">
          <th mat-header-cell *matHeaderCellDef>Transfer / Expense</th>
          <td mat-cell *matCellDef="let element" class="mat-header-cell edit-delete"> 
            <button mat-icon-button color="primary" >
              <mat-icon class="text-secondary">drive_file_move</mat-icon>
            </button>
            <button mat-icon-button color="primary" >
              <mat-icon class="text-secondary">request_quote</mat-icon>
            </button>
          </td>
        </ng-container>

      </table>
    </mat-card>
  </div>
</div>


<!-- 
  ACCOUNT Modal window
-->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">    
    <h4 class="modal-title font-weight-bold" id="modal-basic-title">{{accountModalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>  
  
  <div class="modal-body">    
    <form #formAccount="ngForm" >
      <div ngbDropdown class="d-inline-block mb-3">
        <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>
          {{account.type | accountType}}
        </button>        
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <!-- <input type="hidden" value="account.type" required /> -->
          <button ngbDropdownItem (click)="changeType('D')">Debit</button>
          <button ngbDropdownItem (click)="changeType('C')">Credit</button>          
        </div>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Account number</mat-label>
        <input matInput 
          [disabled]="isEditing" 
          [(ngModel)]="account.accountNumber" 
          #accountNumber="ngModel" 
          name="accountNumber"
          pattern="[0-9]+" required
          >          
      </mat-form-field>      

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="account.description" #description="ngModel" name="description"
        required 
        >
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Balance amount</mat-label>
        <input matInput matInput [(ngModel)]="account.balance" #balance="ngModel" name="balance"
        required pattern="^[1-9]{1}[0-9]*(.[0-9]+){0,1}|0(.[0-9]+){1,}$">
      </mat-form-field>

    </form>
  </div>  
  <div class="modal-footer">    
    <button type="button" class="btn btn-outline-info" 
      (click)="saveChanges()"
      [disabled]="!formAccount.form.valid"
      >Save
    </button>
  </div>
</ng-template>

<!-- 
  Modal confirm Account deletion 
-->
<ng-template #confirm let-c="close" let-d="dismiss">
  <div class="modal-header">    
    <h4 class="modal-title font-weight-bold" id="modal-basic-title">Account deletion</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete your account [{{accountToDelete.accountNumber}}, {{accountToDelete.description}}]?    
  </div>
  <div class="modal-footer">    
    <button type="button" class="btn btn-outline-info" (click)="d('Cross click')">Cancel</button>
    <button type="button" class="btn btn-outline-danger" (click)="commitAccountDeletion()">Delete</button>
  </div> 

</ng-template>

<ngx-spinner></ngx-spinner>
