.dashboard {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  width: 100%;
}

.budget {
  display: grid;
  grid-template-columns: 1fr;  
  margin: 0 1rem;  
  position: relative;
}

.balance-card {  
  position: absolute;
  top: 0;  
  height: 8 rem;  
  width: 100%;
}

.budget-card {
  position: absolute;  
  top: 8rem;
  width: 100%;
}

.new-account{
  margin-left: auto;
  margin-right: 0;
}

.accounts {  
  display: grid;
  grid-template-columns: 1fr;
  margin-right: 1rem;
}

.budget-elements {
  display: grid;
  grid-template-columns: 2.5fr 2fr;
}

.chart {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

table {
  width: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form {
  display: grid;
  grid-template-columns: 1fr;
}

.edit-delete{
  width: 8rem;
}

.spinner {
  width: 1rem;
  height: 1rem;
}