.login {  
  background-image: url("/assets/budget.jpg");
  height: 35rem;  

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-link {
  display: block;
  width: 25rem;
  height: 10rem;
  border: solid 1px #ccc;  
  border-radius: 3px;
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 5rem;
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
}

.login-link a {
  display: block;
  width: 10rem;
  height: 2rem;
  background-color: #330033;  
  text-align: center;  
  position: relative;
  padding-top: 0.75rem;
  color: white;  
  top: 1.5rem;
  left: 7.5rem;
  text-decoration: none;
}